# Ignore compiled binaries in exercises folder
exercises/**/*

# Unignore directories so git looks inside them
!exercises/**/

# Unignore c files
!exercises/**/*.c

# Unignore header files
!exercises/**/*.h

# Unignore markdown files
!exercises/**/*.md

# Unignore text files
!exercises/**/*.txt

# ide
.idea
.vscode
